@{
    ViewData["Title"] = "Pages / group";
    var myGroup = System.IO.File.ReadAllText("./Views/Pages/Group/myGroup.html");
    var searchGroup = System.IO.File.ReadAllText("./Views/Pages/Group/searchGroup.html");
    var chatGroup = System.IO.File.ReadAllText("./Views/Pages/Group/chatGroup.html");
    var chatGroupEdite = System.IO.File.ReadAllText("./Views/Pages/Group/chatGroupEdite.html");
    var chatGroupUser = System.IO.File.ReadAllText("./Views/Pages/Group/chatGroupUser.html");
}
@section css {
    <link rel="stylesheet" href="~/css/group.css" cache="inPage"/>
}
@section Scripts2 {
    <script src="~/lib/signalr.min.js"></script>
    <script src="~/lib/msgpack.min.js"></script>
    <script src="~/lib/signalr-protocol-msgpack.min.js"></script>
}
@section Scripts {
    <script src="~/js/group.js" cache="inFile"></script>
}
<div class="fading-image"></div>

<div class="container" id="app" v-cloak>

    <div class="mainCenter" v-show="['searchGroup','myGroup','createGroup'].indexOf(appModel.state) > -1 ">
        <group-component ref="childgroup" :app-model="appModel" :main-model="mainModel"></group-component>
        <search-component ref="childsearch" :app-model="appModel" :search-model="searchModel"></search-component>
    </div>

    <div class="mainBottom" v-show="['searchGroup','myGroup'].indexOf(appModel.state) > -1 ">
        <div class="item" style="border-left: 1px solid var(--TextColor2);"
             v-on:click="changeState('myGroup')"
             v-bind:style="{ backgroundColor: appModel.state =='myGroup' ? 'rgb(3 218 198 / 60%)' : 'transparent'}">
            گروه‌ها
        </div>
        <div class="item" style="border-left: 1px solid var(--TextColor2);"
             v-on:click="changeState('searchGroup')"
             v-bind:style="{ backgroundColor: appModel.state =='searchGroup' ? 'rgb(3 218 198 / 60%)' : 'transparent'}">
            جستجو
        </div>
        <div class="item"
             v-on:click="urlBack()"
             v-bind:style="">
            بازگشت
        </div>
    </div>

    <chat-component ref="childchat" :app-model="appModel" :chat-model="chatModel"></chat-component>

</div>

@Html.Raw(myGroup)
@Html.Raw(searchGroup)

<template id="chat-template">
    <div v-show="appModel.state == 'chatGroup'" style="height: 100%;">
        @Html.Raw(chatGroup)
        @Html.Raw(chatGroupEdite)
        @Html.Raw(chatGroupUser)
    </div>
</template>